<form method="post" encType="multipart/form-data">
    <input type="file" name="excel">
    <button id="upload">Upload</button>
</form>
<script src="../static/libs/jquery-3.1.0.min.js"></script>
<script src="../static/block-upload-button.js"></script>